:root {
    --bg-color: linear-gradient(45deg, #007bff, #00d4ff);
    --text-color: rgb(255, 255, 255);
    --expanded-bg-color: rgb(0, 0, 0);
    --main-color : rgb(255, 125, 44);
}

html {
    scroll-behavior: smooth;
}