.proj {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgba(104, 104, 104, 0.354);
    backdrop-filter: blur(10px); */
}

.proj-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Ensures cards are centered */
    gap: 20px; /* Adds space between cards */
    padding: 0px;
}
